.conteudo .list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap; 
}
.list_mes {
	flex-basis: 30%;
	margin: 10px auto;
	padding: 20px;
	background-color: rgba(44, 62, 80,1.0);
	color: rgba(209, 216, 224, 1);
	text-transform: uppercase;
	border-radius: 4px;
	font-weight: bold;
}
@media (max-width: 900px) {
	.list_mes {
		flex-basis: 100%;
		margin: 10px 0;
	}
}